* {
    /* padding: 0; */
    margin: 0;
    /* overflow-y: none; */
    /* overflow-x: none; */
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 15vh;
    text-decoration: none;
    color: white;
    position: fixed;
    background-color: black;

}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    font-weight: bolder;
    transition: color 0.3s ease;
    text-decoration: none;
}


.nav-items a {
    text-decoration: none;
    color:  white;
   

}

.nav-items a :hover{
    color: #0078FF;
}

#hero {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    width: 100vw;
    background-image: url(./img/hero.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center; 
    


}

.hero-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: aqua;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    width: 9%;
}


.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    color: aqua; 

}

.title-text {
    font-family: sans-serif;
    font-size: 70px;
    line-height: 92.4px;
    text-align: start;
    font-style: oblique;

}

.subtext {
    font-family: sans-serif;
    font-size: 25px;
    line-height: 26px;
    text-align: start;
    letter-spacing: 0.4px;
    font-style: oblique;

}

span {
    font-family: sans-serif;

}

.about-sec{
    background-color: white;
    width: 100%;
    padding: 2rem;
}


.image-button {
    background-color: #0078FF;
       color: white;
       padding: 10px;
       border-radius: 20px;
       border: none;
       font-weight: bolder;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: large;
       align-content: center;
}
.about {
    display: flex;
    justify-content: center;
   gap: 4rem;
    margin:  auto;
    margin-top: 8%;
    width: 70%;
}

.about-image{
    width: 50%;
}

.about-image-bg img{
    width: 100%;
    height: 100%;
    
}

.about-text span{
    color: black;
    font-size: 20px;
}
h3 {
    font-weight: bold;
    font-size: 45px;
    color: black;
}

.about-text {
    color: black;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
   
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
    margin-top: 40px;
}
.gallery-item {
    position: relative;
}
.gallery-overlay{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: white;
 background-color: #0077ff65;
 opacity: 0;   
}

.gallery-overlay:hover{
    opacity: 1;
}
    
.gallery-title {
    color: white;
    width: 100%;
    height: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 40px;
}

.h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-circle {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-color: #023B6D;
    font-size: 24px;
    background-color: antiquewhite;
    transition: background-color 0.3s ease;
}
.icon-circle:hover{
    background-color: #023B6D;
}

.icon-text-wrapper{ 
    display: flex;
    align-items: center;
    gap: 10px; 
} 

.icon-text{
    font-size: 18px;
    color: black;
}

.small-card{
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto; 
    width: 80%;
    height: 150px;
    margin-top: 8%;
    
}
.large-card{
    display: flex;
    /* justify-content: center; */
    /* justify-items: center; */
    flex-direction: column;
    row-gap: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    height:400px;
    padding: 20px;
}

.first-input{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.input-sec{
    width: 100%;
    border-color: #0078FF;
}

.subject-message {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
    height: 20px;
    border-color: #0078FF;
}

.message-box {
    height: 100px;
    border-color: #0078FF;
}



.contact-but{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0078FF;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    margin: auto;
}

.copyright-sec{
    background-color: #0078FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}
#footer{
    width: 100vh;
    height: 100vw;
}
.footer-text{
    display: flex;
}
